.contact{
    text-align: center;
    color: chocolate;
}

.contact .parent {
    display:flex;
}

.contact .parent {
    flex: 3;
}

.contact .parent .form {
    border: 1px solid #5d5d5d;
    border-radius: 4px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fffcdd;
    margin-left: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

.contact .parent .form .btn-container {
    text-align: center;
}