.home {
    /* padding: 20px;
    background-color: #dedada; */
}

.home h1 {
    text-align: center;
    color: darkcyan;    
    font-family: Lobster,cursive;
    font-size: 120px;
}

.home .home-text h3 {
    text-align: center;
    color: darkcyan;
    padding-left: 202px;
    margin-top: -35px;
    margin-bottom: 40px;
}

.home .main-img {
    width: 100%;
}

.home .home-text {
    position: absolute;
    top: 450px;
    left: 30%;
    right: 25%;
    background-color: #ffffffd2;
    padding: 20px;
    border-radius: 6px;
}
.home .relative {
    position: relative;
}

.home .over-img {
    position: absolute;
    background-color: #ffffff7b;
    border-radius: 6px;
    width: 400px;
    padding: 30px 20px;
    top: 450px;
    left: 500px;
    color: darkcyan;
}

.home .section-2 {
    display: flex;
    
}

.home .section-2 .info {
    flex: 3;
    background-color: white;
}

.home .section-2 .info h3 {
    color: darkcyan;
    font-weight: 400;
    font-size: 60px;
    padding-top: 250px;
}

.home .section-2 .info p {
    font-weight: 200;
    font-size: 50px;
}

.home .section-2 .img {
    flex: 2;
}