.home {
    /* padding: 20px;
    background-color: #dedada; */
}

.home h1 {
    text-align: center;
    color: darkcyan;    
}

.home h3 {
    text-align: center;
    color: black;
}

.home main-img {
    width: 100%;
}

.home .relative {
    position: relative;
}

.home .over-img {
    position: absolute;
    background-color: #ffffff7b;
    border-radius: 6px;
    width: 500px;

}